[submodule "auth"]
	path = auth
	url = git@github.com:Magisterka-Maurycy/auth.git
[submodule "math"]
	path = math
	url = git@github.com:Magisterka-Maurycy/math.git
[submodule "mba"]
	path = mba
	url = git@github.com:Magisterka-Maurycy/mba.git
[submodule "dsa"]
	path = dsa
	url = git@github.com:Magisterka-Maurycy/dsa.git
